{
  "arrowParens": "avoid",
  "endOfLine": "auto",
  "object-curly-spacing": [
    "error",
    "always",
    {
      "objectsInObjects": false,
      "singleLine": {
        "objects": "never"
      }
    }
  ],
  "printWidth": 100,
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "useTabs": false
}
